/* Empty. Add your own CSS if you like */
a {
    text-decoration:none;
}

.scroll-view.overflow-scroll {
    position:absolute;
}

.home-project-scroll-container {
  text-align: center;
  width: 100%;
  height: 50px;
}

.all-project-scroll {
  width: 1000px;
}

.all-project-scroll .home-project-item {
  float: left;
  width: 90px;
  border-style: none;
  padding: 5px;
  border-bottom-style:solid;
  border-bottom-color:red;
}

.picture-out-item {
    height:200px;
}

.all-project-scroll .picture-project-item {
    float:left;
    width:200px;
    border-style:none;
    padding:5px;
    overflow:hidden;
}

.img-scroll-item {
    width:190px;
}

.home-project-item :active {
    background-color:aqua;
}

ms-item-top {
    background-color: #F1F1F1 !important;
}

ms-red-icon {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FF0000;
    line-height: 18px;
    text-align: center;
    top: 5px;
    left: 40px;
}

.ms-list-p {
    font-size: 13px !important;
    color: #6a6a6a !important;
}

ms-push-right {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #8c8c8c;
    font-size: 13px;
}

.login-button {
    background-color:greenyellow;
}

.collectButtonColor {
    background-color:dodgerblue;
}

.onload-tip {
    width:100%;
    height:100%;
}

.rj-message-time {
    width: 42px;
    text-align: center;
    margin-bottom: 5px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

.rj-message-wrap {
    padding: 7px;
    overflow: auto;
    position: relative;
}

.rj-message-wrap .rj-head-pic,
.rj-message-wrap .rj-head-pic-right {
  max-height: 40px;
  max-width: 40px; }

.rj-message-wrap .rj-head-pic {
  float: left; }

.rj-message-wrap .rj-head-pic-right {
  float: right; }

.rj-message-wrap {
  padding: 7px;
  overflow: auto;
  position: relative; }

.rj-message-wrap .rj-head-pic,
.rj-message-wrap .rj-head-pic-right {
  max-height: 40px;
  max-width: 40px; }

.rj-message-wrap .rj-head-pic {
  float: left; }

.rj-message-wrap .rj-head-pic-right {
  float: right; }

.rj-message-wrap .rj-message,
.rj-message-wrap .rj-message-right {
  padding: 6px 8px;
  line-height: 26px;
  max-width: 190px;
  border-radius: 5px; }

.rj-message-wrap .rj-message {
  float: left;
  margin-left: 16px;
  background-color: #fff; }

.rj-message-wrap .rj-message-right {
  float: right;
  margin-right: 16px;
  background-color: #6BE00B; }

.rj-message-wrap .rj-triangle-left,
.rj-message-wrap .rj-triangle-right {
  display: inline-block;
  width: 0px;
  height: 0px;
  position: absolute;
  border-width: 8px 10px;
  border-style: solid;
  top: 17px; }

.rj-message-wrap .rj-triangle-left {
  left: 47px;
  border-color: transparent #FFF transparent transparent; }

.rj-message-wrap .rj-triangle-right {
  right: 47px;
  border-color: transparent transparent transparent #6BE00B; }

.rj-footer-btn-wrap .rj-send-button {
  background-color: #1BBB37;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  bottom: 3px;
  width: 38px;
  left: 4px; }

.bar-footer {
  border-top: 1px solid #EEE !important; }

.bar-footer textarea {
  resize: none;
  height: 21px;
  max-height: 100px; }

.bar-footer .item-input {
  border: none !important;
  border-bottom: 1px solid #EEE !important; }

.rj-footer-btn {
  position: absolute !important;
  bottom: -1px;
  right: 5px; }

.rj-footer-input {
  width: 100%; }

.rj-footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 2px; }

.rj-footer-btn-left {
  position: absolute !important;
  bottom: 0; }

.collectionPicture img {
    width:100%;
}
