<ion-view view-title="market">
  <ion-nav-buttons side="right">
      <button class="button button-clear" href="#/tab/dash/talking"><i class="icon ion-ios-chatbubble-outline"></i></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
      <div class="row">
          <div class="col col-25 button button-clear button-positive" style="font-weight:bold;border-bottom:1px solid #0094ff">life</div>
          <div class="col col-25 button button-clear button-positive" id="1" ng-click="changeStyle()">study</div>
          <div class="col col-25 button button-clear button-positive">play</div>
          <div class="col col-25 button button-clear button-positive">ionic</div>
      </div>
  </div>
  <ion-content class="has-subheader">
      <div class="list">

          <a class="item item-thumbnail-left" ng-repeat="thing in things" href="#/tab/dash/{{thing.id}}">
              <img src="{{thing.face}}">
              <h2>{{thing.name}}</h2>
              <p>100</p>
          </a>

      </div>
  </ion-content>
</ion-view>
