<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="商品" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/dash">
    <div class="bar bar-subheader">
          <ion-scroll direction="x" class="home-project-scroll-container">
              <div class="all-project-scroll">
                  <!--设置副标题的CSS样式，在模块中定义一个点击事件，点击以后设置变量值为true。定义一个移除函数，在每次出发点击事件
                  之前，调用移除函数，来将上次点击事件设置的变量true改为false。-->
                  <div class="home-project-item">
                      <a href="#/tab/computer">电脑</a>
                  </div>
                  <div class="home-project-item">
                      <a href="#/tab/phone">手机</a>
                  </div>
                  <div class="home-project-item">
                      <a href="#/tab/digital">数码</a>
                  </div>
                  <div class="home-project-item">
                      <a href="#/tab/book">图书</a>
                  </div>
                  <div class="home-project-item">
                      <a href="#/tab/electric">电器</a>
                  </div>
                  <div class="home-project-item">
                      <a href="#/tab/everyday">日用</a>
                  </div>
                  <div class="home-project-item">
                      <a href="#/tab/clothing">服饰</a>
                  </div>
                  <div class="home-project-item">
                      <a href="#/tab/other">其他</a>
                  </div>
              </div>
          </ion-scroll>
    </div>
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="发布" icon-off="ion-ios-upload-outline" icon-on="ion-ios-upload" href="#/tab/publish" style="background-color:blue">
    <ion-nav-view name="tab-publish"></ion-nav-view>
  </ion-tab>

    <!--<ion-tab title="message" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/message">
        <ion-nav-view name="tab-message"></ion-nav-view>
    </ion-tab>-->

  <!-- Account Tab -->
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>
</ion-tabs>
