<ion-view view-title="商品详情">
    <ion-content>
        <div class="list card display">

            <div class="item item-button-right">
                {{goodsInformation.Nickname}}
                <button class="button" style="background-color:#66FF66">
                    <i class="icon ion-ios-telephone">{{goodsInformation.MobilePhone}}</i>
                </button>
            </div>

            <div class="item item-button-right">
                {{goodsInformation.Title}}
                <button ng-class="{collectButtonColor:notAdd}" class="button button-positive" ng-click="addCollection(goodsInformation.CommodityID)" ng-if="!isCollect">
                    <i>收藏</i>
                </button>
                <button ng-class="{collectButtonColor:notAdd}" class="button button-positive" ng-click="addCollection(goodsInformation.CommodityID)" ng-if="isCollect" disabled>
                    <i>已收藏</i>
                </button>
            </div>

            <div class="item item-image" id="one" ng-show="display">
                <div ng-bind-html="goodsInformation.Picture"></div>
            </div>

            <div class="item picture-out-item" id="more" ng-hide="display">
                <ion-scroll direction="x">
                    <div id="node_insert" class="all-project-scroll">
                        <div class="picture-project-item">
                            <img src="{{goodsInformation.Picture}}" class="img-scroll-item">
                        </div>
                        <div class="picture-project-item">
                            <img src="{{goodsInformation.Picture}}" class="img-scroll-item">
                        </div>
                        <div class="picture-project-item">
                            <img src="{{goodsInformation.Picture}}" class="img-scroll-item">
                        </div>
                        <div class="picture-project-item">
                            <img src="{{goodsInformation.Picture}}" class="img-scroll-item">
                        </div>
                        <div class="picture-project-item">
                            <img src="{{goodsInformation.Picture}}" class="img-scroll-item">
                        </div>
                    </div>
                </ion-scroll>
            </div>

            <div class="item item-text-wrap">{{goodsInformation.Description}}</div>
            <div class="item" style="color:red">￥{{goodsInformation.Price}}
                <h3 style="float:right;font-weight:800">
                    如果要购买请与卖家联系
                </h3>
                <!--<button class="button button-positive" ng-click="buying()" ng-disabled="canBuy">
                    <i>购买</i>
                </button>-->
            </div>
            <!--<button class="button button-positive" ng-click="doRemark({{item.ID}})" style="float:right">
                <i class="icon ion-compose"></i>
                写评论
            </button>
            <div class="item item-body">
                <div ng-bind-html="item.Contents"></div>
            </div>
            <div class="item" style="border-bottom: 2px solid #ddd;">
                <ul class="remarks-list">
                    <li ng-repeat="remark in item.Remarks">
                        <img src="{{remark.UserPictureUrl}}" />
                        ({{remark.RemarkTime | date:"MM-dd hh:mm"}}):
                        {{remark.Remarks}}
                    </li>
                </ul>
            </div>-->
        </div>
        <div class="padding-horizontal" style="float:right">
            <p>这件商品会在{{goodsInformation.TradeEndTime}}之前下架</p>
        </div>
    </ion-content>
</ion-view>